<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
       
<!--        扫描包 -->
        <context:component-scan base-package="com.lanou.admin"></context:component-scan>

<!--        设置service层 -->
		<bean id="adminservice" class="com.lanou.admin.services.AdminService">
					<property name="dao" ref="Admindao"></property>
		</bean>
		
		<!-- 		  设置dao层 -->
		<bean id="Admindao" class="com.lanou.admin.daos.Admindao">
					<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>

		
		  
<!-- 	 spring管理Hibernate配置 -->
			<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" scope="prototype">
						<property name="DriverClassName"  value="com.mysql.jdbc.Driver"></property>		
						<property name="url" value="jdbc:mysql://localhost:3306/hibernatexs"></property>
						<property name="username" value="root"></property>
						<property name="password" value="123456"></property>						
			</bean>
			
			<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
					<property name="dataSource" ref="dataSource"></property>
					<property name="hibernateProperties">
					             <props>
					             				<!-- 		hibernate配置方言 -->
					                           <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
					                           <!--          配置Hibernate自建表过程 -->
					                           <prop key="hibernate.hbm2ddl.auto">update</prop>					                           
					                           <prop key="hibernate.current_session_context_class">thread</prop>
					                           <prop key="show_sql">true</prop>
					             </props>
					</property>
					<property name="mappingLocations">
							<array>
									<value>classpath:com/lanou/admin/beans/mapping/*.hbm.xml</value>
							</array>
							
					</property>
			</bean>
			
			
</beans>